@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

li {
  color: black;
  font-size: 1rem;
  text-align: center;
}
li:hover {
  text-decoration: underline;

}

.img-size {
  height: '266px';
  width: '329px' !important;
}
@media (max-width: 767px) { 
  li:hover {
    background: black;
    color: white;
    text-decoration: none;
  }
 }

 @media (min-width:1280px){
  .title {
    background: url('/Assets/Images/B1-Title.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .about {
    background: url('/Assets/Images/B2-About new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    .portfolio {
    background: url('/Assets/Images/B3-Port new.jpg');
    background-size: cover;
    }
    .resume {
    background: url('/Assets/Images/B4-Res new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    .collaboration {
    background: url('/Assets/Images/B5-Collab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }    
  .contact {
    background: url('/Assets/Images/B6-Contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
 }
