@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  color: black;
  font-size: 1rem;
  text-align: center;
}
li:hover {
  text-decoration: underline;

}

@media (max-width: 767px) { 
  li:hover {
    background: black;
    color: white;
    text-decoration: none;
  }
 }